In [7]:
# Import key librarys
import pandas as pd
import numpy as np
import os
import glob

In [8]:
# use glob to get all the csv files in the folder
path = './highland_secondary/'
csv_files = glob.glob(os.path.join(path, "*.csv"))

# Create list for all dfs
frames = []

for f in csv_files:
    
    wdf = pd.read_csv(f)
    
    frames.append(wdf)

In [9]:
wdf.head()

,year,seed_code,la_code,la_name,school_name,school_type,measure_category,measure,value,chart_label
0,2021,5123437,270,Highland,Plockton High School,Secondary,trend,Pupil Numbers,254,NaN
1,2021,5123437,270,Highland,Plockton High School,Secondary,trend,Teacher Numbers (FTE),27.7,NaN
2,2021,5123437,270,Highland,Plockton High School,Secondary,trend,Pupil Teacher Ratio,9.2,NaN
3,2021,5123437,270,Highland,Plockton High School,Secondary,trend,Average Class,0,NaN
4,2022,5123437,270,Highland,Plockton High School,Secondary,trend,Pupil Numbers,224,NaN

In [10]:
## Concat all together long format dfs into final df
ldf = pd.concat(frames)

In [11]:
# Rename percentage categories so that they are numbers
ldf['value'] = ldf['value'].replace(
    {'0-10%':'5%',
     '10-20%':'15%',
     '20-30%':'25%',
     '30-40%':'35%',
     '40-50%':'45%',
     '50-60%':'55%',
     '60-70%':'65%',
     '70-80%':'75%',
     '80-90%':'85%',
     '90-100%':'95%',
    })

# Drop duplicates
ldf = ldf.drop_duplicates()

In [12]:
ldf.to_csv('highland_secondary.csv')