In [ ]:
# Import libraries
import pandas as pd
import sparql_dataframe

In [ ]:
endpoint = "http://dbpedia.org/sparql"

q = """

    PREFIX geo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
    
    SELECT ?label ?lat ?long 
    
    WHERE {  
    <http://dbpedia.org/resource/Sargus_Juvenile_Detention_Center> geo:lat ?lat.
    <http://dbpedia.org/resource/Sargus_Juvenile_Detention_Center> geo:long ?long.
    <http://dbpedia.org/resource/Sargus_Juvenile_Detention_Center> rdfs:label ?label . 
    }
    
    """

df = sparql_dataframe.get(endpoint, q)
df.head()

In [ ]:
# Point to correct website
endpoint = "http://statistics.gov.scot/sparql"


q = """
    PREFIX dcat: <http://www.w3.org/ns/dcat#>
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX qb: <http://purl.org/linked-data/cube#>
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX sdmx: <http://purl.org/linked-data/sdmx/2009/concept#>
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX void: <http://rdfs.org/ns/void#>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    
    SELECT *
    
    WHERE {
    ?identifier 
    ?name 
    ?value
    }
    
    LIMIT 100
    """

df = sparql_dataframe.get(endpoint, q)
df.head()

In [ ]:
# Point to correct website
endpoint = "http://statistics.gov.scot/sparql"


q = """
    PREFIX dcat: <http://www.w3.org/ns/dcat#>
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX qb: <http://purl.org/linked-data/cube#>
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX sdmx: <http://purl.org/linked-data/sdmx/2009/concept#>
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX void: <http://rdfs.org/ns/void#>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    
    SELECT ?label ?lat ?long
    


df = sparql_dataframe.get(endpoint, q)
df.head()

In [63]:
# Point to correct website
endpoint = "http://statistics.gov.scot/sparql"


q = """
    PREFIX dcat: <http://www.w3.org/ns/dcat#>
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX qb: <http://purl.org/linked-data/cube#>
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX sdmx: <http://purl.org/linked-data/sdmx/2009/concept#>
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX void: <http://rdfs.org/ns/void#>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

    SELECT ?p ?o
    WHERE {<http://statistics.gov.scot/data/school-attendance-rate> ?p ?o }

    LIMIT 100
    """

df = sparql_dataframe.get(endpoint, q)
df.head()

,p,o
0,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://purl.org/linked-data/cube#DataSet
1,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://purl.org/linked-data/cube#DataSet
2,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://publishmydata.com/def/dataset#Dataset
3,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://publishmydata.com/def/dataset#LinkedDat...
4,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://rdfs.org/ns/void#Dataset

In [64]:
df.to_csv("scotland_education_database.csv")

In [ ]:
POST 
Host: statistics.gov.scot
Accept: application/sparql-results+json
Content-Type: application/x-www-form-urlencoded

query=SELECT+%2A+WHERE+%7B%3Fs+%3Fp+%3Fo%7D+LIMIT+10

In [ ]:
PREFIX dcat: <http://www.w3.org/ns/dcat#>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX qb: <http://purl.org/linked-data/cube#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX sdmx: <http://purl.org/linked-data/sdmx/2009/concept#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX void: <http://rdfs.org/ns/void#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT *
WHERE {
  ?s ?p ?o
}

LIMIT 100